[program:<%= @program %>]
command=<%= @command %>
autostart=<%= @autostart %>
autorestart=<%= @autorestart %>
startretries=<%= @startretries %>
stderr_logfile=<%= @stderr_logfile %>
stdout_logfile=<%= @stdout_logfile %>
